 .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }
body {
color:#fff;
z-index:1;
background: #851111;
}
body p a {
color:#fff;  
text-decoration:none;
}
body p a:hover {
text-decoration:underline;
}
.mytitle0 {
    position: relative;
    display: inline-block;
    font: 30px/1.2em 'Ubuntu Condensed, serif;
    color: #fff;
    text-transform: uppercase;
    -webkit-transition: color 0.4s ease-out;
    -moz-transition: color 0.4s ease-out;
    -o-transition: color 0.4s ease-out;
    -ms-transition: color 0.4s ease-out;
    transition: color 0.4s ease-out;
    text-decoration:none;
}
.mytitle {
    position: relative;
    display: inline-block;
    font: 75px 'Sancreek', serif;
    color: #fff;
    text-transform: uppercase;
    -webkit-transition: color 0.4s ease-out;
    -moz-transition: color 0.4s ease-out;
    -o-transition: color 0.4s ease-out;
    -ms-transition: color 0.4s ease-out;
    transition: color 0.4s ease-out;
    text-decoration:none;
}
.menu{
    width: 100%;
    background: #C53932;
    position: relative;
    display: inline-block;
    font: 16px/1.2em 'Ubuntu Condensed', sans-serif;
    text-transform: uppercase;
}
#menu>li>a {
text-transform: uppercase;
color: #fff;
margin-left: 19px; 
}
.my2color {
color: #fff;
}
a:hover span {
    text-decoration: underline;
    
}
.fructucircus {
   background: url(../images/bg.jpg) center;
}
.nav {
    text-align: right
}
.elefant {
    width: 150px;
    height: auto;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    align-content: center;

    
}

.elefant img {
    width: 150px;
    height: auto;
     white-space: nowrap;
     display: inline-block
}
h2 {
    font-family: 'Sancreek';
 
}
h3 {
    font-family: 'Ubuntu Condensed';
       color: #e50c04;

}
p {
     font-family: 'Ubuntu Condensed';
}
ul {
  list-style-type: none;
    padding-left: 0rem;
    
}
ul, li {
  list-style: none;
  
}
.list1>li {
    border-bottom: 1px solid #202020;
    margin-bottom: 15px;
    padding-bottom: 7px;
} 

img {
        vertical-align: top;
     width:100%;
    float: left

    
}
img.resize{
    width: 115px;
    height: auto;
}
figure{
position: relative;
display: inline-block;
}
button {
    margin-bottom: 30px;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.list1 li, .elefant{
    display: flex;
    flex-direction: row;
    
}
.list1 li img{
    margin-right: 20px; 
}
.elefant{
    justify-content: center;
    width: auto;
    margin-top: 50px;
    gap: 20px;
}
.margin-top {
   padding-top: 10px;
}
